@media(max-width:900px){

.hero{

flex-direction:column;

text-align:center;

}

.hero-text{

width:100%;

}

.features{

grid-template-columns:1fr;

}

.action-grid{

grid-template-columns:1fr;

}

nav{

display:none;

}

}